
body {
		color: Red;
	background-image: url('img3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 10%;			  
    padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 50px;
								  
	}
h1 {
	color: Red;
	background-image: url('img3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 10%;			  
    padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 50px;
	
}

